---
import Section from "../Section.astro";
---

<Section>
	<p>Check out the <a href="https://github.com/Vegm92/portfolio-json">Portfolio's repository</a></p>
</Section>


<style>

	p{
		    font-size: 0.6rem;
	}

	a {
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
	}
</style>
